:root {
  --main-white: rgb(252, 252, 252);
  --main-black: rgb(0, 0, 0);
  --form-gray: #343a40;
  --off-white: rgb(221, 221, 221);
  --off-black: rgb(92, 92, 92);
  --me-chat-buble: #a5a7ac;
  --main-blue: rgb(79, 81, 216);
  --off-blue: rgb(38, 92, 163);
  --button-blue: #0069d9;
  --main-green: rgb(52, 192, 34);
  --main-red: rgb(231, 10, 10);
  --gradient-first: #dfdfdf;
  --gradient-second: #fff;
  --input-border-color: #ccd0d5;
  --main-logo-color: #bfc2c6;
  --bad-alert-color: #f24654;
  --bad-alert-bgcolor: rgba(255, 0, 0, 0.5);
  --good-alert-color: #60af86;
  --good-alert-bgcolor: rgba(0, 255, 0, 0.5);
  --main-box-shadow: rgba(0, 0, 0, 0.2);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

button {
  margin: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  flex-direction: column;
  height: 70vh;
  margin: 1rem 0;
  padding: 3rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 15px black;
}

.contacts_container,
.container,
form,
.icon,
.invite_buttons,
.message_input_container,
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts_container {
  justify-content: start;
}

.chat_app {
  position: relative;
  z-index: 10;
}

form {
  flex-direction: column;
}

.invite_list {
  list-style: none;
  color: var(--main-white);
  padding: 2rem;
  background: var(--off-blue);
}

.find_friends_icons div {
  padding: 0.5rem;
  border-radius: 50px;
  background: rgba(122, 122, 122, 0.1);
  margin-left: 1rem;
}

.search-bar svg {
  margin-left: 0.5rem;
  width: 1.8rem;
  height: 1.8rem;
}

.user_info svg,
img {
  margin-right: 1rem;
}

.group_logo_container svg {
  position: absolute;
  color: var(--main-logo-color);
}

.menu_active > svg {
  font-size: 3.8rem;
  color: var(--main-black);
  margin: 2rem;
  padding: 1rem;
  background: var(--main-white);
  border-radius: 50%;
  cursor: pointer;
}

.user_info svg {
  color: var(--main-logo-color);
}

.menu > svg {
  font-size: 3.8rem;
  color: var(--main-white);
  margin: 2rem;
  padding: 1rem;
  background: var(--main-black);
  border-radius: 50%;
  cursor: pointer;
}

.find_friends_icons div svg {
  width: 2rem;
  height: 2rem;
}

.notifications div {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px;
  background: #e73553;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0;
  padding: 0;
}

.find_friends_icons div:hover {
  color: rgba(122, 122, 122, 1);
}

.add_users_checkBox:hover {
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid transparent;
  border-radius: 5px;
}

.add_users_checkBox input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 1rem;
}

.notifications {
  position: relative;
}

.modal_heading {
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal_footer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.logo_pos {
  top: 0;
  right: 0;
}

.logo_pos_overlay {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.addGroup_button {
  border-radius: 5px;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  transition: 0.4s;
}

.addGroup_button:hover {
  transition: 0.4s;
  background: var(--main-black);
  color: var(--main-white);
}

.alert {
  height: 4rem;
  margin: 0;
  margin-top: 1rem;
}

.register_form form {
  width: 40%;
  padding: 0;
}

form div > input {
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem;
  border: 1px solid var(--main-black);
}

.search-bar input {
  padding: 0.3rem;
}

.register_form form input {
  margin: 0 1rem;
}

input[type="radio"]:checked + label {
  background: rgba(0, 105, 217, 1);
}

input[type="radio"] {
  outline: none;
}

.group_logo_container {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1rem;
}

.group_logo_container img {
  position: absolute;
  border-radius: 50px;
}

.container_chat div > h3,
p {
  margin: 1rem;
}

.contacts_info h2,
p {
  color: black;
}

.contacts_info > p > p {
  margin: 0;
  color: #050505;
}

.invite_list > main {
  margin: 2rem 0 2rem 0;
}

.invite_buttons button {
  margin: 0 0.2rem;
  cursor: pointer;
}

.contacts h1 {
  color: var(--main-black);
  text-align: center;
}

/* utility */
.circle_border {
  border-radius: 50px;
  padding: 0.7rem;
  cursor: pointer;
  width: 20%;
  background: rgba(122, 122, 122, 0.09);
}

.circle_border:hover {
  background: rgba(122, 122, 122, 0.2);
}

.relative_top_right {
  position: relative;
  margin: 1rem;
  top: 0;
  right: 0;
}

.absolute_top_right {
  position: absolute;
  margin-right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* =================
6.Media Query
================= */
@media only screen and (min-width: 1010px) {
  .clickable {
    align-items: center;
    font-size: 3vw;
    flex-direction: column;
    justify-content: center;
  }

  .show {
    width: 80%;
  }
}
@media only screen and (max-width: 1010px) {
  .clickable {
    align-items: center;
    font-size: 3vw;
    flex-direction: column;
    justify-content: center;
  }

  .show {
    width: 80%;
  }
}
@media (max-width: 431px) {
  .container input {
    width: 90%;
  }
}
