.userAvatar {
  width: 3.25rem;
  height: 3.25rem;
  margin: 0;
  color: var(--main-logo-color);
  position: relative;
  z-index: 10;
}

.iconParent {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background: rgb(0 0 0 / 20%);
  border-radius: 100%;
}

.iconParent:hover {
  background: rgb(0 0 0 / 10%);
  border-radius: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.headerAvatar {
  width: 2.8rem;
  height: 2.8rem;
  color: var(--main-logo-color);
  margin-right: 1rem;
  border-radius: 100px;
  position: relative;
  z-index: 10;
}
