.UserAvatar {
  width: 3.25rem;
  height: 3.25rem;
  margin: 0;
  color: var(--main-logo-color);
  position: relative;
  z-index: 10;
}

.icon_parrent {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.icon_parrent:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.HeaderAvatar {
  width: 2.8rem;
  height: 2.8rem;
  color: var(--main-logo-color);
  margin-right: 1rem;
  border-radius: 100px;
  position: relative;
  z-index: 10;
}
