.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.avatarContainer {
  margin: 0;
  color: black;
  display: flex;
}

.lastMessage {
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}

.activeChatSettingsBtn {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
