/* =================
Global variables
================= */

:root {
  --main-white: rgb(252, 252, 252);
  --off-white: #ccc;
  --main-black: #000;
  --off-black: rgb(51, 51, 51);
  --main-blue: rgb(73, 75, 173);
}

/* =================
Global styling
================= */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.BIG {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(90, 90, 90) 100%
  );
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

/* =================
Layout styling
================= */

.container {
  flex-direction: column;
}

/* .container-chat, */
.container,
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-chat {
  flex-direction: column;
  height: 60vh;
  overflow: auto;
  background-color: var(--main-white);
  padding: 1rem;
  margin: 0.2rem;
  box-shadow: 0px 0px 20px var(--off-white);
}

form {
  flex-direction: column;
}

/* =================
Components styling
================= */

input {
  outline: none;
}

.container input {
  width: 20%;
  height: 2rem;
  border-radius: 20px;
  border: none;
  padding: 0 0.9rem;
}

.container > button {
  padding: 0.5rem 0.9rem;
  margin: 1rem;
}

form div > input {
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem;
  border: 1px solid var(--main-black);
}

form > button {
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--main-black);
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

form > button:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

/* =================
Typography styling
================= */

.container-chat div > h3,
p {
  margin: 1rem;
}

.me {
  text-align: right;
  color: var(--main-black);
}

.you {
  text-align: left;
  color: var(--off-black);
}

.log-out {
  color: var(--main-blue);
  cursor: pointer;
  margin: 2rem;
  border-bottom: 1px solid transparent;
}

.log-out:hover {
  border-bottom: 1px solid;
}
