/* =================
Table of concepts
  1.Global variables
  2.Global styling
  3.Layout styling
  4.Components styling
  5.Typography styling
================= */

/* =================
1.Global variables
================= */

:root {
  --main-white: rgb(252, 252, 252);
  --off-white: rgb(221, 221, 221);
  --main-black: rgb(0, 0, 0);
  --off-black: rgb(92, 92, 92);
  --main-blue: rgb(73, 75, 173);
  --off-blue: rgb(26, 97, 189);
  --gradient-first: #cfd9df;
  --gradient-second: #e2ebf0;
}

/* =================
2.Global styling
================= */

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.BIG {
  background: radial-gradient(
    circle,
    var(--gradient-first) 0%,
    var(--gradient-second) 100%
  );
  position: absolute;
  z-index: -1;
  width: 110vw;
  height: 130vh;
}

/* =================
3.Layout styling
================= */

.container {
  flex-direction: column;
}

.chat_home {
  position: relative;
  z-index: 10;
}

/* .container-chat, */
.container,
form,
.me,
.you,
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-chat {
  flex-direction: column;
  height: 60vh;
  overflow: auto;
  background-color: var(--main-white);
  padding: 1rem;
  margin: 0.2rem;
  box-shadow: 0px 0px 20px var(--off-white);
}

.chat_app {
  position: relative;
  z-index: 10;
}

form {
  flex-direction: column;
}

/* =================
4.Components styling
================= */

input {
  outline: none;
}

.container input {
  width: 20%;
  height: 2rem;
  border-radius: 20px;
  border: none;
  padding: 0 0.9rem;
}

.container > button {
  padding: 0.5rem 0.9rem;
  margin: 1rem;
}

form div > input {
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem;
  border: 1px solid var(--main-black);
}

form > button {
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--main-black);
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

form > button:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

.clickable {
  align-items: center;
}

.clickable,
.clickable label {
  display: flex;
  align-items: center;
}

.contacts {
  background: var(--main-blue);
  width: 30vw;
  padding: 1rem;
  flex-direction: column;
}

/* =================
5.Typography styling
================= */
.blue_no_underline {
  color: var(--main-blue);
  text-decoration: none;
}

.container-chat div > h3,
p {
  margin: 1rem;
}

.container-chat h2 {
  font-size: 2rem;
  text-align: center;
}

.me {
  align-items: flex-end;
  justify-content: center;
  color: var(--main-white);
  flex-direction: column;
}

.you {
  align-items: flex-start;
  justify-content: center;
  color: var(--main-black);
  flex-direction: column;
}

.log-out {
  color: var(--main-blue);
  cursor: pointer;
  margin: 0.5rem;
  border-bottom: 1px solid transparent;
}

.log-out:hover {
  border-bottom: 1px solid;
}

.link {
  text-decoration: none;
  border: 1px solid transparent;
  margin: 1rem;
  font-size: 1.2rem;
}

.link:hover {
  border-bottom: 1px solid;
}

.contacts h1,
p {
  color: var(--main-white);
  text-align: left;
}
