/* =================
Table of concepts
  1.Global variables
  2.Global styling
  3.Layout styling
  4.Components styling
  5.Typography styling
  6.Media Query
================= */

/* =================
1.Global variables
================= */

:root {
  --main-white: rgb(252, 252, 252);
  --off-white: rgb(221, 221, 221);
  --main-black: rgb(0, 0, 0);
  --off-black: rgb(92, 92, 92);
  --me-chat-buble: #a5a7ac;
  --main-blue: rgb(79, 81, 216);
  --off-blue: rgb(38, 92, 163);
  --main-green: rgb(52, 192, 34);
  --main-red: rgb(231, 10, 10);
  /* main background gradient */
  --gradient-first: #dfdfdf;
  --gradient-second: #ffffff;
  /* login form background gradient */
}

/* =================
2.Global styling
================= */

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  margin: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* =================
3.Layout styling
================= */
.BIG {
  background: radial-gradient(
    var(--gradient-first) 10%,
    var(--gradient-second) 100%
  );
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.container {
  flex-direction: column;
}

.contacts_container {
  width: 100%;
  color: var(--main-white);
  width: 100%;
  cursor: pointer;
  padding: 0 1rem;
  /* word-wrap: break-word; */
  transition: 0.2s;
}

.contacts_container:hover {
  background: rgba(122, 122, 122, 0.4);
  transition: 0.2s;
}

.contacts_info {
  flex-direction: column;
  text-align: start;
}

.chat_home {
  position: relative;
  z-index: 10;
}
/* .contacts_info, */
.contacts_container,
.container,
form,
.me,
.you,
.icon,
.dash_board,
.active_chats,
.main_section,
.invite_buttons,
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts_container {
  justify-content: start;
}

.container_chat {
  flex-direction: column;
  height: 60vh;
  padding: 1rem;
  overflow: auto;
  background-color: var(--main-white);
  box-shadow: 0px 0px 20px var(--off-white);
}

.chat_app {
  position: relative;
  z-index: 10;
}

form {
  flex-direction: column;
}

.invite_list {
  list-style: none;
  color: var(--main-white);
  padding: 2rem;
  background: var(--off-blue);
}

.active_chats {
  background: var(--main-blue);
  color: var(--main-white);
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  max-width: 70%;
  width: 40%;
  flex-direction: column;
  justify-content: flex-start;
}

.active_chats div > main > a {
  color: var(--main-white);
}

.main_section {
  margin: 1rem;
  width: 50%;
}

.rendered_chat {
  border-radius: 4px;
  width: 10rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  word-wrap: break-word;
}

/* =================
4.Components styling
================= */

.user-logo {
  width: 4rem;
  height: 4rem;
}

.invite-userName span,
h5 {
  font-size: 1.4vw;
}

input {
  outline: none;
}

.friendsInput {
  width: 90%;
}

.group_logo_container {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.logo {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
}

.overlay {
  z-index: 1;
  margin: 15px;
}

.friendsInput input {
  width: 90%;
  border: none;
  background: transparent;
  margin: 0 1rem;
  padding: 0.3rem;
}

.friendsInput input:focus {
  outline: none;
}

.search-bar {
  width: 90%;
  border: 1px solid;
  width: 100%;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem;
  box-shadow: 0 0 5px;
  background: white;
}

.container {
  padding: 3rem;
  border-radius: 5px;
}

.container input {
  width: 30%;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 5px;
  transition: 0.3s;
  border: none;
  padding: 0 0.9rem;
}

.container input:focus {
  width: 35%;
  transition: 0.3s;
}

.container > button {
  padding: 0.5rem 0.9rem;
  margin: 1rem;
}

form div > input {
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem;
  border: 1px solid var(--main-black);
}

form > button {
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--main-black);
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

form > button:hover {
  background-color: var(--main-white);
  color: var(--main-black);
  transition: 0.2s;
}

.clickable {
  align-items: center;
}

.clickable,
.clickable label {
  display: flex;
  align-items: center;
}

.invite_list > main {
  margin: 2rem 0 2rem 0;
}

.invite_buttons button {
  margin: 0.2rem;
  cursor: pointer;
}

.accept,
.decline {
  outline: none;
  border: none;
  font-size: 3.01rem;
  background: transparent;
  transition: 0.2s;
}

.accept {
  color: var(--main-green);
}

.decline {
  color: var(--main-red);
}

.accept:hover,
.decline:hover {
  color: var(--main-white);
  transition: 0.2s;
}

/* =================
5.Typography styling
================= */
.blue_no_underline {
  color: var(--main-blue);
  text-decoration: none;
}

.container_chat div > h3,
p {
  margin: 1rem;
}

.container-chat h2 {
  font-size: 2rem;
  text-align: center;
}

.group_chat_users {
  display: flex;
}

.me {
  align-items: flex-end;
  justify-content: center;
  color: var(--main-white);
  flex-direction: column;
}

.you {
  align-items: flex-start;
  justify-content: center;
  color: var(--main-black);
  flex-direction: column;
}

.log-out {
  color: var(--main-blue);
  cursor: pointer;
  margin: 0.5rem;
  border-bottom: 1px solid transparent;
}

.log-out:hover {
  border-bottom: 1px solid;
}

.link {
  text-decoration: none;
  border: 1px solid transparent;
  margin: 1rem;
  font-size: 1.2rem;
}

.link:hover {
  border-bottom: 1px solid;
}

.contacts {
  background: var(--main-blue);
  width: 30vw;
  padding: 0 2rem;
  margin: 1rem;
  border-radius: 1.6rem;
  flex-direction: column;
}

.contacts h1,
p {
  color: var(--main-white);
  text-align: center;
}

.menu > svg {
  font-size: 3.8rem;
  color: var(--main-white);
  margin: 2rem;
  padding: 1rem;
  background: var(--main-black);
  border-radius: 50%;
  cursor: pointer;
}

.menu_active > svg {
  font-size: 3.8rem;
  color: var(--main-black);
  margin: 2rem;
  padding: 1rem;
  background: var(--main-white);
  border-radius: 50%;
  cursor: pointer;
}

/* =================
6.Media Query
================= */
@media (max-width: 431px) {
  .container input {
    width: 90%;
  }

  .container input:focus {
    width: 100%;
  }

  .alert {
    font-size: 0.9rem;
  }

  .quick_login {
    font-size: 0.689rem;
  }

  .friendsInput input {
    width: 90%;
    margin: 0 1rem;
  }

  .contacts {
    background: var(--main-blue);
    width: 30vw;
    padding: 0 1rem;
    margin: 1rem;
    flex-direction: column;
  }

  .accept,
  .decline {
    outline: none;
    border: none;
    font-size: 1.9rem;
    background: transparent;
    transition: 0.2s;
  }

  .accept {
    color: var(--main-green);
  }

  .decline {
    color: var(--main-red);
  }
}
/* specific for nokia 8110 */
@media (max-width: 240px) {
  .friendsInput input {
    width: 75%;
    margin: 0 1rem;
  }
  h2 {
    font-size: 0.9rem;
  }

  .container h1 {
    font-size: 0.6rem;
  }

  .active_chats {
    padding: 1rem;
    overflow: hidden;
  }

  .active_chats h1 {
    font-size: 0.65rem;
  }

  .contacts {
    background: var(--main-blue);
    width: 30vw;
    padding: 1rem;
    margin: 1rem;
    flex-direction: column;
  }
}
