/* =================
Table of concepts
  1.Global variables
  2.Global styling
  3.Layout styling
  4.Components styling
  5.Typography styling
  6.Media Query
================= */

/* =================
1.Global variables
================= */

:root {
  --main-white: rgb(252, 252, 252);
  --off-white: rgb(221, 221, 221);
  --main-black: rgb(0, 0, 0);
  --off-black: rgb(92, 92, 92);
  --me-chat-buble: #a5a7ac;
  --main-blue: rgb(79, 81, 216);
  --off-blue: rgb(38, 92, 163);
  --main-green: rgb(52, 192, 34);
  --main-red: rgb(231, 10, 10);
  --gradient-first: #dfdfdf;
  --gradient-second: #ffffff;
  --input-border-color: #ccd0d5;
}

/* =================
2.Global styling
================= */

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  margin: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* =================
3.Layout styling
================= */
.fRequests_modal {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: !important start;
  z-index: 9999;
  width: 40%;
  height: 50vh;
  background: var(--off-white);
  overflow-x: hidden;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px;
}
.BIG {
  background: radial-gradient(
    var(--gradient-first) 10%,
    var(--gradient-second) 100%
  );
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.container {
  flex-direction: column;
}

.dash_board {
  width: 100%;
  height: 100vh;
}

.contacts_container {
  color: var(--main-white);
  width: 97%;
  cursor: pointer;
  padding: 0 1rem;
  /* word-wrap: break-word; */
  transition: 0.2s;
}

.contacts_container:hover {
  border-radius: 15px 0 0 15px;
  /* width: 10%; */
  background: rgba(122, 122, 122, 0.4);
  transition: 0.2s;
}

.contacts_info {
  flex-direction: column;
  text-align: start;
}

.chat_home {
  position: relative;
  z-index: 10;
}
/* .contacts_info, */
.contacts_container,
.container,
form,
.me,
.you,
.icon,
.dash_board,
.active_chats,
.main_section,
.invite_buttons,
.search-bar,
.message_input_container,
.message_form,
.input_gender,
.input_gender span,
.register_form,
.login_form,
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts_container {
  justify-content: start;
}

.container_chat {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow: auto;
  background-color: var(--main-white);
  box-shadow: 0px 0px 20px var(--off-white);
}

.chat_app {
  position: relative;
  z-index: 10;
}

form {
  flex-direction: column;
}

.invite_list {
  list-style: none;
  color: var(--main-white);
  padding: 2rem;
  background: var(--off-blue);
}

.active_chats {
  transition-timing-function: ease-out;
  transition: 0.6s ease-out;
  background: var(--main-blue);
  color: var(--main-white);
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 45%;
  z-index: 20;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: unset;
}

.active_chats div > main > a {
  color: var(--main-white);
}

.main_section {
  width: 80%;
}

.profile {
  position: relative;
}

.profile svg {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
  cursor: pointer;
}

.user_settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--main-white);
  padding: 1rem 0.9rem;
  /* top: 0; */
  left: 0;
  box-shadow: 0 0 10px black;
}

.user_settings a {
  color: black;
  margin: 0.5rem 0;
  padding: 1rem;
}

.user_settings a:hover {
  background: var(--off-white);
  border-radius: 5px;
}

.user_settings a:active {
  background: var(--me-chat-buble);
  border-radius: 5px;
}

.rendered_chat {
  border-radius: 4px;
  max-width: 80%;
  padding: 0.5rem 1rem;
  overflow: hidden;
  word-wrap: break-word;
}

/* =================
4.Components styling
================= */

.addGroup_button {
  border-radius: 5px;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  transition: 0.4s;
}

.addGroup_button:hover {
  transition: 0.4s;
  background: var(--main-black);
  color: var(--main-white);
}

.alert {
  height: 4rem;
  margin: 0;
  margin-top: 1rem;
}

.register_form form {
  width: 40%;
  padding: 0;
}

register_form from input {
  margin: 0 1rem;
}

.input_gender {
  width: 60%;
  flex-direction: row;
  margin-top: 0.5rem;
}
.input_gender span {
  border: 1px solid var(--input-border-color);
  padding: 0.5rem 0;
  border-radius: 5px;
  margin: 0 1rem;
  width: 60%;
}
.input_gender input[type="radio"] {
  height: 1rem;
}

.chat_header {
  box-shadow: 0 0 5px;
  position: relative;
  width: 100%;
  z-index: 9999;
}

.user-logo {
  width: 4rem;
  height: 4rem;
}

.invite-userName span,
h5 {
  font-size: 1.4vw;
}

input {
  outline: none;
}

.friendsInput {
  width: 90%;
  margin: 1rem;
}

.group_logo_container {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.logo {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
}

.overlay {
  position: absolute;
  left: 0;
  z-index: 1;
  margin: 15px;
}

.friendsInput input {
  width: 90%;
  border: none;
  background: transparent;
  margin: 0 1rem;
  padding: 0.3rem;
}

.friendsInput input:focus {
  outline: none;
}

.search-bar {
  width: 90%;
  border: 1px solid;
  width: 100%;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem;
  background: white;
}

.search-bar:focus-within {
  box-shadow: 0 0 5px;
}

.container {
  height: 70vh;
  margin: 1rem 0;
  padding: 3rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 15px black;
}

.container input {
  width: 60%;
  height: 2rem;
  margin: 0.5rem 0;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  transition: 0.3s;
  padding: 1.3rem 0.9rem;
}

.input_file {
  background: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--input-border-color);
  transition: 0.3s;
  margin-top: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.input_file:hover {
  background: var(--main-white);
  transition: 0.3s;
  color: var(--main-black);
}

.container > button {
  margin-top: 2rem;
  border-radius: 5px;
  width: 60%;
  background-color: var(--main-black);
  color: var(--main-white);
  border: 1px solid var(--input-border-color);
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  font-size: 1rem;
}

form div > input {
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem;
  border: 1px solid var(--main-black);
}

form > button:hover {
  background-color: var(--main-white);
  color: var(--main-black);
  transition: 0.2s;
}

.clickable {
  align-items: center;
}

.clickable,
.clickable label {
  display: flex;
  align-items: center;
}

.invite_list > main {
  margin: 2rem 0 2rem 0;
}

.invite_buttons button {
  margin: 0.2rem;
  cursor: pointer;
}

.accept,
.decline {
  outline: none;
  border: none;
  font-size: 3.01rem;
  background: transparent;
  transition: 0.2s;
}

.accept {
  color: var(--main-green);
}

.decline {
  color: var(--main-red);
}

.accept:hover,
.decline:hover {
  color: var(--main-white);
  transition: 0.2s;
}

.message_form {
  width: 100%;
  background: var(--main-white);
}

.message_input_container {
  flex-direction: row;
  background: #d9d9d9;
  border-radius: 25px;
  width: 60%;
  margin: 0.5rem 0;
}

.message_input_container input {
  background: transparent;
  padding: 0;
}

.message_input_container input {
  width: 90%;
}

.message_input_container svg {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  padding: 0.1rem;
}

/* =================
5.Typography styling
================= */
.blue_no_underline {
  color: var(--main-blue);
  text-decoration: none;
}

.container_chat div > h3,
p {
  margin: 1rem;
}

.container-chat h2 {
  font-size: 2rem;
  text-align: center;
}

.group_chat_users {
  display: flex;
}

.me {
  align-items: flex-end;
  justify-content: center;
  color: var(--main-white);
  flex-direction: column;
}

.you {
  align-items: flex-start;
  justify-content: center;
  color: var(--main-black);
  flex-direction: column;
}

.log-out {
  color: var(--main-blue);
  cursor: pointer;
  margin: 0.5rem;
  border-bottom: 1px solid transparent;
}

.log-out:hover {
  border-bottom: 1px solid;
}

.link {
  text-decoration: none;
  border: 1px solid transparent;
  margin: 1rem;
  font-size: 1.2rem;
}

.contacts {
  background: var(--main-blue);
  width: 30vw;
  padding: 0 2rem;
  margin: 1rem;
  border-radius: 1.6rem;
  flex-direction: column;
}

.contacts h1,
p {
  color: var(--main-white);
  text-align: center;
}

.menu > svg {
  font-size: 3.8rem;
  color: var(--main-white);
  margin: 2rem;
  padding: 1rem;
  background: var(--main-black);
  border-radius: 50%;
  cursor: pointer;
}

.menu_active > svg {
  font-size: 3.8rem;
  color: var(--main-black);
  margin: 2rem;
  padding: 1rem;
  background: var(--main-white);
  border-radius: 50%;
  cursor: pointer;
}

/* =================
6.Media Query
================= */
@media only screen and (max-width: 800px) {
  .clickable {
    align-items: center;
    font-size: 3vw;
  }

  .active_chats {
    position: absolute;
  }
  .input_gender input[type="radio"] {
    width: 1rem;
    height: 1rem;
  }

  .register_form form {
    width: 70%;
  }

  .login_form form {
    width: 70%;
  }

  .hide {
    transition: 0.6s ease-in;
    width: 0;
  }
  .hamburger {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 22;
    margin: 1rem;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .main_section {
    width: 100%;
  }

  .show {
    width: 80%;
  }
}
@media (max-width: 431px) {
  .container input {
    width: 90%;
  }

  .clickable {
    flex-direction: column;
    justify-content: center;
  }

  .clickable a {
    text-align: center;
  }

  .alert {
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .quick_login {
    font-size: 0.689rem;
  }

  .friendsInput input {
    width: 90%;
    margin: 0 1rem;
  }

  .contacts {
    background: var(--main-blue);
    width: 30vw;
    padding: 0 1rem;
    margin: 1rem;
    flex-direction: column;
  }

  .accept,
  .decline {
    outline: none;
    border: none;
    font-size: 1.9rem;
    background: transparent;
    transition: 0.2s;
  }

  .accept {
    color: var(--main-green);
  }

  .decline {
    color: var(--main-red);
  }
}
